
# python virtual environment
.venv

# python module venv import artifacts
src/pathPlanning.egg-info

# python cache
**/__pycache__

# run artifacts we don't want to keep (by default)
runs/**/GTSP_input.gtsp
runs/**/GTSP_output.txt
runs/**/*.png
runs/**/*_results.yaml
runs/**/results*
